@import url(menu.css);
@import url(banner.css);
@import url(blog.css);
@import url(info.css);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	font-family: 'Arial', sans-serif;
	background-color: #f8f9fa;
}

.contenedor {
	width: 98%;
	margin: auto;
}

section {
	width: 100%;
	margin-bottom: 25px;
}

#bienvenidos {
	text-align: center;
}

@media (min-width:1024px) {
	.contenedor {
		width: 1000px;
		text-align: left;
		font-weight: bold;
	}
}
